{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h2 class="mb-4 text-center">Login</h2>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form method="post">
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                </div>

                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-primary w-100">Login</button>
                <div class="text-center">
                    <a href="{{ path('app_forgot_password_request') }}">Forgot your password?</a><br>
                    <small>Don't have an account? <a href="{{ path('app_register') }}">Sign up</a></small>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
