{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4 text-center">Create Your Account</h2>

            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">
                    {{ flash_error }}
                </div>
            {% endfor %}

            {{ form_start(registrationForm, {'attr': {'class': 'needs-validation'}}) }}

            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.phone_number) }}
            {{ form_row(registrationForm.address) }}
            {{ form_row(registrationForm.role) }}
            {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-primary w-100 mt-3">Register</button>
            <div class="text-center mt-3">
                <small>Already have an account? <a href="{{ path('app_login') }}">Sign in</a></small>
            </div>

            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
