{% extends 'chef/dashboard.html.twig' %}

{% block title %}Edit Dish{% endblock %}

{% block dashboard_content %}
    <div class="container mt-4">
        <h1>Edit Dish</h1>
        {{ form_errors(form) }}

        {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}

        <div class="mb-3">
            {{ form_label(form.menu) }}
            {{ form_widget(form.menu, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(form.menu) }}</div>
        </div>

        <div class="mb-3">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(form.name) }}</div>
        </div>

        <div class="mb-3">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(form.description) }}</div>
        </div>
        <div class="mb-3">
            {{ form_label(form.ingredients) }}
            {{ form_widget(form.ingredients, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(form.ingredients) }}</div>
        </div>

        <div class="mb-3">
            {{ form_label(form.price) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(form.price) }}</div>
        </div>
        <div class="mb-3">
            {% if dish.image %}
                <label class="form-label fw-bold">Current Image:</label><br>
                <img src="{{ asset('uploads/' ~ dish.image) }}" alt="Dish Image" style="width:100px; height:60px; object-fit:cover; margin-bottom:5px;"><br>
            {% endif %}
            {{ form_label(form.image) }}
            {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(form.image) }}</div>
        </div>

        <button type="submit" class="btn btn-primary">Update Dish</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
